<section id="about">
  <div class="flex-1 flex items-center justify-center p-4">
    <app-shaking-text content="About Us"></app-shaking-text>
  </div>
  <div class="flex md:flex-row flex-col sm:py-16 py-6 animate-from-left" #animateDiv>
    <div class="flex-1 flex justify-center items-start flex-col">
      <h2
        class="font-poppins font-semibold xs:text-[48px] text-[40px] text-white xs:leading-[76.8px] leading-[66.8px] w-full"
      >
        We are the Bonders!
      </h2>
      <p
        class="font-poppins font-normal text-dimWhite text-[18px] leading-[30.8px] max-w-[470px] mt-5"
      >
        Digital Bond is a forward-thinking digital marketing agency that blends creativity with a commitment to push brands beyond their limits. We offer a wide range of services designed to elevate brand presence and performance.
      </p>
    </div>
    <div class="flex-1 flex md:ml-10 ml-0 md:mt-0 mt-10 relative flex-col">
      <ng-container *ngFor="let feature of features; let index = index">
        <app-feature-card
          [feature]="feature"
          [index]="index"
          [length]="features.length"
        ></app-feature-card>
      </ng-container>
    </div>
  </div>
</section>
