.animate-from-left {
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  -webkit-transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  -moz-transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  -ms-transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  -o-transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.animate-from-left.visible {
  opacity: 1;
  transform: translateX(0);
}
